/* -------------------------- */
/* -------- MAIN STYLES ------*/
/* -------------------------- */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    font-family: 'Comfortaa', cursive;
}
#header{
    display: flex;
    flex-direction: column;
    height: calc(100vh + 53px);
    padding: 0 10px;
    align-items: center;
    justify-content: center;
}
#canvas-container{
    position: absolute;
    filter: blur(0.05rem);
}
#intro-text{
    color: #fff;
    text-align: center;
    font-size: 2.25em;
}
.highlight{
    color: #f59042;
}
#view-button{
    padding: 12px 20px;
    color: #fff;
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    transition: all 0.5s;
    margin: 16px 0 64px 0;
    font-size: 1.8em;
}
#view-button:hover, .button:hover{
    background-color: #42c993;
    border-color: #42c993;
    color: #fff;
}
#view-button:hover > .icon{
    transform: rotate( 90deg);   
}
.icon{
    font-size: 0.8em;
}
.icon:hover{
    transform: rotate( 90deg);
}
section:nth-of-type(odd){
    background-color: #252934;
    color: #fff;
}
section:nth-of-type(even){
    background-color: #fff;
}
#about,#projects,#contact{
    padding: 1em 1em;
}
h2{
    margin-left:10%;
}
h2:after {
    content: "";
    display: block;
    position: relative;
    top: -0.5em;
    width: 40%;
    height: 1px;
    margin-left: 7em;
    background-color: white;
}
section:nth-of-type(even)>div>h2:after{
    background-color: #db65d7;
}
section:nth-of-type(even)>div>h2>span{
    color: #db65d7;
}
#about-content-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2em;
}
.inner{
    padding: 1em 0;
    max-width: 80%;
    margin: auto;
}
/* -------------------------- */
/* ----- NAV BAR STYLES ------*/
/* -------------------------- */
a{
    text-decoration: none !important;
}
.nav-bar{
    background-color: rgb(255, 255, 255);
    /* -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 35%);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 35%); */
    border-radius: 0px !important;
}
.nav-bar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbar-header{
    padding: 10px 0;
}
.navbar-header>a{
    color: #111;
}
.navbar-header>a:hover{
    color: blue;
    transition: all 0.5s;
}
.brand{
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.link{
    color: #111;
    border-radius: 3px;
    text-align: center;
    min-width: 90px;
    margin: 0 4px;
    font-size: 1.2em;
    font-weight: 600;
}
.link:hover{
    background-color: rgba(0,0,0,.1) !important;
    color: black !important;
}
.link-selected{
    background-color: #db65d7 !important;
    color: #fff !important;
}
.item{
    padding: 10px 0;
}

/* -------------------------- */
/* ------ FORM STYLES  ------ */
/* -------------------------- */
form{
    display: flex;
    flex-direction: column;
    padding: 3em 0;  
    min-width: 40em;
}
form>input, form>textarea{
    background: #1e242c;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 1.15em;
    margin-bottom: 3px;
    outline: none;
    padding: 10px 15px;
    width: 100%;
}
form>textarea{
    min-height: 8em;
}
form>.button{
    background: transparent;
    color: #1e242c;
    margin: 1.5em 0;
    outline: 0;
    border: 2px solid #1e242c;
    box-sizing: inherit;
    font-size: 13pt;
    padding: 10px 20px;
    transition: all 0.5s;
}
#success{
    display: none;
}
/* -------------------------- */
/* --------- FOOTER --------- */
/* -------------------------- */
footer{
    text-align: center;
    font-size: 1.05em;
    padding: 2em 2em;
    background: #1b242f;
    position: relative;
}
.social-container>a>svg{
    width: 2em;
    height: 2em;
    color: #fff;
}
.social-container>a:hover>svg{
    width: 2em;
    height: 2em;
    color: #f59042;
}
.social-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5em 10em;
}
.social-container>a{
    border: 0.2em solid #fff;
    padding: 0.5em 0.7em;
    border-radius: 0.5em;
}
.social-container>a:hover{
    border: 0.2em solid #f59042;
    transform: translateY(-2px);
}
#footnote{
    color: #fff;
}
/* -------------------------- */
/* ------ MEDIA QUERIES ----- */
/* -------------------------- */
/* mobile */
@media (max-width: 767px) {
    .nav-bar-container {
        flex-direction: column;
    }
    #intro-text {
        font-size: 1.8em;
    }
    #view-button{
        font-size: 1.4em;
    }
    form {
        min-width: auto;
    }
    section>div>h2{
        font-size: 1.4em;
    }
}
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    form {
        min-width: 30em;
    }
}
