/* -------------------------- */
/* -------- MAIN STYLES ------*/
/* -------------------------- */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    cursor: pointer;
}
body {
    overflow-x: hidden;
}
main{
    font-family: 'Comfortaa', cursive;
}
p, .project-description{
    font-family: 'Lato', sans-serif;
}
#home{
    height: calc(130vh);
}
#canvas-container{
    position: absolute;
    filter: blur(0.05rem);
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 40%;
    position: relative;
    padding: 0 10px;
}
#intro-text{
    color: #fff;
    text-align: center;
    font-size: 2.25em;
}
.highlight{
    color: #f59042;
}
#view-button{
    padding: 12px 20px;
    color: #fff;
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    transition: all 0.5s;
    margin: 16px 0 64px 0;
    font-size: 1.8em;
}
#view-button:hover, .button:hover{
    background-color: #42c993;
    border-color: #42c993;
    color: #fff;
}
#view-button:hover > .icon{
    transform: rotate( 90deg);   
}
.icon{
    font-size: 0.8em;
}
.icon:hover{
    transform: rotate( 90deg);
}
section:nth-of-type(odd){
    background-color: #252934;
    color: #fff;
}
section:nth-of-type(even){
    background-color: #fff;
}
#about,#projects,#contact, #resume{
    padding: 5em 0;
}
h2{
    margin-left:10%;
}
h2:after {
    content: "";
    display: block;
    position: relative;
    top: -0.5em;
    width: 40%;
    height: 1px;
    margin-left: 7em;
    background-color: white;
}
section:nth-of-type(even)>div>h2:after{
    background-color: #f59042;
}
section:nth-of-type(even)>div>h2>span{
    color: #f59042;
}
#about-content-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 4em;
}
.para-container>p{
    margin: 0px 0px 1.5em;
    font-size: 1.5em;
}
.img-container{
    padding: 2em 1em;
}
.img-container>img{
    filter: drop-shadow(8px 8px 10px gray);
}
.inner{
    padding: 1em 0;
    max-width: 80%;
    margin: auto;
}
/* -------------------------- */
/* ----- NAV BAR STYLES ------*/
/* -------------------------- */
a{
    text-decoration: none !important;
}
.sticky{
    bottom: inherit;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    animation: popDown 0.5s;
}
.nav-bar{
    background-color: rgb(255, 255, 255);
    border-radius: 0px !important;
}
.nav-bar-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.brand{
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.link{
    color: #111;
    border-radius: 3px;
    text-align: center;
    min-width: 90px;
    margin: 0 4px;
    font-size: 1.2em;
    font-weight: 600;
}
.link:hover{
    background-color: rgba(0,0,0,.1) !important;
    color: black !important;
}
.item{
    padding: 10px 0;
}
.nav-bar-toggle{
    display: flex;
    align-items: flex-end;
    width: 3.5em;
    height: 3.5em;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    border: none;
}
.bar{
    width: 2em;
    height: 0.2em;
    margin: 0.2em;
    transition: all 0.5s;
    background-color: #42c993 !important;
}
/* -------------------------- */
/* ------ FORM STYLES  ------ */
/* -------------------------- */
form{
    display: flex;
    flex-direction: column;
    padding: 3em 0;  
    min-width: 40em;
}
form>input, form>textarea{
    background: #1e242c;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 1.15em;
    margin-bottom: 3px;
    outline: none;
    padding: 10px 15px;
    width: 100%;
}
form>textarea{
    min-height: 8em;
}
form>.button{
    background: transparent;
    color: #1e242c;
    margin: 1.5em 0;
    outline: 0;
    border: 2px solid #1e242c;
    box-sizing: inherit;
    font-size: 13pt;
    padding: 10px 20px;
    transition: all 0.5s;
}
#success{
    display: none;
}
/* -------------------------- */
/* --------- FOOTER --------- */
/* -------------------------- */
footer{
    text-align: center;
    font-size: 1.05em;
    padding: 2em 2em;
    background: #1b242f;
    position: relative;
}
.social-container>a>svg{
    width: 2em;
    height: 2em;
    color: #fff;
}
.social-container>a:hover>svg{
    width: 2em;
    height: 2em;
    color: #f59042;
}
.social-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5em 10em;
}
.social-container>a{
    border: 0.2em solid #fff;
    padding: 0.5em 0.7em;
    border-radius: 0.5em;
}
.social-container>a:hover{
    border: 0.2em solid #f59042;
    transform: translateY(-2px);
}
#footnote{
    color: #fff;
    padding: 2em 0;
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    form {
        min-width: 30em;
    }
}
/* tablet and desktop */
@media screen and (min-width: 750px){
    .nav-bar-toggle{
        display: none;
    }
    .nav-bar{
        height: 25px !important;
    }
    .link.active{
        background-color: #42c993 !important;
        color: #fff !important;
    }
}
