/* -------------------------- */
/* -------- MAIN STYLES ------*/
/* -------------------------- */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    cursor: pointer;
}
body {
    overflow-x: hidden;
}
main{
    font-family: 'Comfortaa', cursive;
}
p, .project-description{
    font-family: 'Lato', sans-serif;
}
#home{
    height: calc(130vh);
}
#canvas-container{
    position: absolute;
    filter: blur(0.05rem);
    left: 0;
    right: 0;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 30%;
    position: relative;
    padding: 0 2em;
}
#intro-text{
    color: #fff;
    text-align: center;
    line-height: 1.5;
    font-size: 2.25em;
}
.highlight{
    color: #e31b6d;
}
.highlight-green{
    color: #64ffda;
}
#view-button{
    padding: 12px 20px;
    color: #fff;
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    transition: all 0.5s;
    margin: 16px 0 64px 0;
    font-size: 1.8em;
}
#view-button:hover, .button:hover{
    background-color: #14856e;
    border-color: #14856e;
    color: #fff;
}
#view-button:hover > .icon{
    transform: rotate( 90deg);   
}
.icon{
    font-size: 0.8em;
}
.icon:hover{
    transform: rotate( 90deg);
}
section:nth-of-type(odd){
    background-color: #252934;
    color: #fff;
}
section:nth-of-type(even){
    background-color: #fff;
}
#about,#projects,#contact, #resume{
    padding: 10em 0 2em 0;
}
h2{
    margin-left:10%;
}
h2:after {
    content: "";
    display: block;
    position: relative;
    top: -0.5em;
    width: 40%;
    height: 1px;
    margin-left: 7em;
    background-color: white;
}
section:nth-of-type(even)>div>h2:after{
    background-color: #e31b6d;
}
section:nth-of-type(even)>div>h2>span{
    color: #e31b6d;
}
#about-content-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 4em;
}
.para-container>p{
    margin: 0px 0px 1.5em;
    font-size: 1.5em;
}
.img-container{
    padding: 2em 1em;
}
.img-container>img{
    filter: drop-shadow(8px 8px 10px gray);
}
.inner{
    padding: 1em 0;
    max-width: 80%;
    margin: auto;
}
label{
    display: none !important;
}
/* -------------------------- */
/* ----- NAV BAR STYLES ------*/
/* -------------------------- */
nav.navbar:after, nav.navbar:before{
    content: none;
}
a{
    text-decoration: none !important;
}
.sticky{
    bottom: inherit;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    animation: popDown 0.5s;
}
.nav-bar{
    background-color: rgb(255, 255, 255);
    border-radius: 0px !important;
}
.nav-bar-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.brand{
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.link{
    color: #111;
    border-radius: 3px;
    text-align: center;
    min-width: 90px;
    margin: 0 4px;
    font-size: 1.2em;
    font-weight: 600;
}
.link:hover{
    background-color: rgba(0,0,0,.1) !important;
    color: black !important;
}
.item{
    padding: 10px 0;
}
.nav-bar-toggle{
    display: flex;
    align-items: flex-end;
    width: 3.5em;
    height: 3.5em;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    border: none;
}
.bar{
    width: 2em;
    height: 0.2em;
    margin: 0.2em;
    transition: all 0.5s;
    background-color: #14856e !important;
}
/* -------------------------- */
/* ------RESUME STYLES ------ */
/* -------------------------- */
#resume-content-container, #projects-content-container{
    margin: 0 10%;
}
#resume-content-self{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.resume-content-self-text>*>span{
    padding-right: 0.5em;
    font-size: 1.1em;
}
.resume-content-self-text>h4{
    font-style: italic;
}
.left-self{
    display: flex;
    flex-direction: column;
}
.resume-img-container>img{
    border-radius: 50%;
    filter: drop-shadow(4px 4px 5px gray);
}
.resume-skills-container, .experience-container{
    display: grid;
    row-gap: 1.5em;
    column-gap: 1em;
    grid-template-columns: 1fr 2fr;
}
.resume-skills-container, .experience-container, .grid-item-ex>p{
    font-family: 'Space Mono', monospace;
}
.right-skills>div>h4{
    font-weight: bold;
    color: #e31b6d;
}
.right-skills>div, .left-self>div{
    padding: 1em 1em;
}
.grid-item:nth-of-type(odd){
    border: 1px solid #14856e;
    background-color: #14856e;
    border-radius: 3px;
    padding: 0.4em 0.7em;
    color: white;
}
.grid-item:nth-of-type(even){
    border: 1px solid #1e242c;
    border-radius: 3px;
    padding: 0.4em 0.4em;
    background-color: #1e242c;
    color: white;
}

/* -------------------------- */
/* -----PROJECT STYLES ------ */
/* -------------------------- */
#projects-content-container{
    display: flex;
    flex-direction: column;
}
.project{
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    border-radius: 0.2em;
    margin: 1em 0;
}
.project:hover{
    background-color: #20232d;
}
.project:nth-of-type(even){
    border: 0.2em solid #e31b6d;
    -moz-box-shadow: inset 0 0 0.2em #e31b6d;
    -webkit-box-shadow: inset 0 0 0.2em #e31b6d;
    box-shadow: inset 0 0 0.2em #e31b6d;
}
.project:nth-of-type(odd){
    border: 0.2em solid #14856e;
    -moz-box-shadow: inset 0 0 0.2em #14856e;
    -webkit-box-shadow: inset 0 0 0.2em #14856e;
    box-shadow: inset 0 0 0.2em #14856e;
}
.project:nth-of-type(odd)>.project-link>a:hover{
    background-color: #14856e;
    border-color: #14856e;
}
.project:nth-of-type(even)>.project-link>a:hover{
    background-color: #e31b6d;
    border-color: #e31b6d;
}
.project-content, .project-img, .project-link{
    margin-bottom: 3em;
}
.project-img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.project-img>a{
    transition: all 0.2s;
}
.project-img>a>img{
    border: 0.1em solid transparent;
    border-radius: 0.5em;
    filter: drop-shadow(2px 4px 6px gray) grayscale(1);
}
.project-img>a:hover > img{
    filter: drop-shadow(2px 4px 6px gray);
}
.project-img>a:hover{
    transform: translateY(-2px);
}
.project-tech-list{
    font-family: 'Space Mono', monospace;
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
    color: rgb(136, 146, 176);
}
.project-tech-list>li{
    margin-right: 15px;
}
.project-link{
    align-self: center;
}
.project-link>a{
    color: white !important;
}
.project-link-btn{
    color: white;
    background-color: inherit;
    border: 0.1em solid white;
    text-align: center;
    padding: 1em;
    transition: all 0.4s;
}
/* -------------------------- */
/* ------ FORM STYLES  ------ */
/* -------------------------- */
form{
    display: flex;
    flex-direction: column;
    padding: 3em 0;  
    min-width: 40em;
}
form>input, form>textarea{
    background: #1e242c;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 1.15em;
    margin-bottom: 3px;
    outline: none;
    padding: 10px 15px;
    width: 100%;
}
form>textarea{
    min-height: 8em;
}
form>.button{
    background: transparent;
    color: #1e242c;
    margin: 1.5em 0;
    outline: 0;
    border: 2px solid #1e242c;
    box-sizing: inherit;
    font-size: 13pt;
    padding: 10px 20px;
    transition: all 0.5s;
}
#success{
    display: none;
}
/* -------------------------- */
/* --------- FOOTER --------- */
/* -------------------------- */
footer{
    text-align: center;
    font-size: 1.05em;
    padding: 2em 2em;
    background: #1b242f;
    position: relative;
}
.social-container>a>svg{
    width: 2em;
    height: 2em;
    color: #fff;
}
.social-container>a:hover>svg{
    width: 2em;
    height: 2em;
    color: #e31b6d;
}
.social-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5em 10em;
}
.social-container>a{
    border: 0.2em solid #fff;
    padding: 0.5em 0.7em;
    border-radius: 0.5em;
}
.social-container>a:hover{
    border: 0.2em solid #e31b6d;
    transform: translateY(-2px);
}
#footnote{
    color: #fff;
    padding: 2em 0;
}
/* -------------------------- */
/* ------ MEDIA QUERIES ----- */
/* -------------------------- */
/* mobile */
@media (max-width: 767px) {
    #about,#projects,#contact, #resume{
        padding: 5em 0;
    }
    .nav-bar-menu {
        flex-direction: column;
    }
    #intro-text {
        font-size: 1.8em;
    }
    #view-button{
        font-size: 1.4em;
    }
    section>div>h2{
        font-size: 1.8em;
    }
    form {
        min-width: auto;
    }
    .para-container>p
    {
        font-size: 1.2em;
        margin: 0px 0px 1.2em;
    }
    section#navigation{
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        right: 0;
    }
    .nav-bar{
        margin-bottom: 0px !important;
    }
    .wrap{
        height: 0;
        overflow-y: hidden;
        transition: height 0.3s ease-out;
        left: 0;
        right: 0;
    }
    .wrap.visible{
        height: 315px;
    }
    .link.active{
        color: #14856e !important;
    }
    .social-container>a{
        padding: 0.3em 0.5em;
        margin: 0.3em 0.3em;
    }
    .img-container>img{
        width: 220px;
        height: 210px;
    }
    section:nth-of-type(odd), section:nth-of-type(even){
        background-color: #252934;
        color: #fff;
    }
    section:nth-of-type(even)>div>h2:after{
        background-color: #fff;
    }
    section:nth-of-type(even)>div>h2>span{
        color: #fff;
    }
    #resume-content-self{
        flex-direction: column;
    }
    .right-skills{
        margin-top: 3%;
    }
    .left-self{
        align-items: center;
    }
    form>.button{
        border: 2px solid #fff;
        color: white;
    }
    .right-skills>div, .left-self>div{
        padding: 1em 0;
    }
    .project-img{
        flex-direction: column;
        align-items: center;
    }
    .project-img>a{
        padding: 1em 0;
    }
    #resume-content-container, #projects-content-container{
        margin: 0 5%;
    }
}
/* smaller mobile */
@media (max-width: 400px) {
    h2:after{
        margin-left: 6em;
    }
}
/* tablet and mobile */
@media (max-width: 1023px) {
    #about-content-container{
        display: block;
    }    
    .img-container{
        margin: auto;
        width: 80%;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    form {
        min-width: 30em;
    }
}
/* tablet and desktop */
@media screen and (min-width: 750px){
    .nav-bar-toggle{
        display: none;
    }
    .nav-bar{
        height: 25px !important;
    }
    .link.active{
        background-color: #14856e !important;
        color: #fff !important;
    }
}
